@import '~node_modules/modern-normalize/modern-normalize.css';
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    //background-color: var(--primary-bg-color);

    position: relative;
    z-index: -999;

    background-color: var(--bg-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    padding-left: 0;
}

img {
    display: block;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding-left: 130px;
    padding-right: 130px;

    //  outline: 2px solid red;

}

.section {
    display: block;
    // padding-top: 120px;
    // padding-bottom: 120px;
    // outline: 2px solid red;
}

.list {
    list-style-type: none;
}

.button {
    color: inherit;
    cursor: pointer;
    border: none;
    font-family: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}