<section class="allshapes_section">
    <div class="container">
        <div class="allshapes_div">
            <h2 class="allshapes_h2">Employees come in all shapes and<br> size. Find the right Fit.</h2>
            <p class="allshapes_p">Focus on casting and screening. Let Clersky handle contracts, resolve any on set-conflits<br> and make sure you are compliant with work and safety boards.</p>
            
        </div>
        <div class="allshapes_div2" >
            <img src="images\allshapes1.png" alt="allshapes1" width="1180">
            </div>
    </div>
   
</section>