<footer class="footer">
  <img class="footer__logo" src="./images/logo_footer.png" alt="logo" />
  <p>A people company.</p>
  <div class="footer__social">
    <svg class="footer__social-item" width="42" height="42">
      <use href="./images/sprite.svg#facebook"></use>
    </svg>
    <svg class="footer__social-item" width="42" height="42">
      <use href="./images/sprite.svg#twitter"></use>
    </svg>
    <svg class="footer__social-item" width="42" height="42">
      <use href="./images/sprite.svg#linkedin"></use>
    </svg>
    <svg class="footer__social-item" width="42" height="42">
      <use href="./images/sprite.svg#insta"></use>
    </svg>
  </div>
  <div class="footer__line"></div>
  <p>© 2020 Clerksy, Inc. Clerksy is a registered trademark of Clerksy, Inc.</p>
  <div class="footer__links">
    <a href="">Privacy Policy</a>
    <a href="">Terms of Service</a>
    <a href="">GDPR</a>
    <a href="">Careers</a>
    <a href="">Press Kit</a>
  </div>
</footer>
