<footer class="footer">
  <div class="container">
    <div class="footer__high">
      <img class="footer__logo" src="./images/logo_footer.png" alt="logo" />
      <p class="footer__p">A people company.</p>
      <div class="footer__social">
        <a href=""
          ><svg class="footer__social-item" width="30" height="28">
            <use href="./images/sprite.svg#facebook"></use></svg
        ></a>
        <a href=""
          ><svg class="footer__social-item" width="30" height="28">
            <use href="./images/sprite.svg#twitter"></use></svg
        ></a>
        <a href=""
          ><svg class="footer__social-item" width="30" height="28">
            <use href="./images/sprite.svg#linkedin"></use></svg
        ></a>
        <a href=""
          ><svg class="footer__social-item" width="30" height="28">
            <use href="./images/sprite.svg#insta"></use></svg
        ></a>
      </div>
    </div>
    <div class="footer__line">
      <p class="footer__p-bottom">
        © 2020 Clerksy, Inc. Clerksy is a registered trademark of Clerksy, Inc.
      </p>
      <div class="footer__links">
        <a class="footer__link-item" href="">Privacy Policy</a>
        <a class="footer__link-item" href="">Terms of Service</a>
        <a class="footer__link-item" href="">GDPR</a>
        <a class="footer__link-item" href="">Careers</a>
        <a class="footer__link-item" href="">Press Kit</a>
      </div>
    </div>
  </div>
</footer>
