
<header class="header" id="home">
  <img src="images\logo.png" alt="logo" class="header__img"> 
  <nav class="header__nav">
    <a href="#home" class="header__a">Home</a>
    <a href="#partner" class="header__a">Partners</a>
    <a href="#quality" class="header__a">HR for everyone</a>
    <a href="#team" class="header__a">Our team</a>
    <a href="#feedback" class="header__a">Feadback</a>
  </nav>
  <a href="tel:844-332-6440" class="header__number">844-332-6440</a>
  <button data-modal-open type="button" class="header__button button">
    Get Started
  </button>
</header>
