<header class="header">
  <img src="images\logo.png" alt="logo" class="header__img"> 
  <nav class="header__nav">
    <a href="" class="header__a">Home</a>
    <a href="" class="header__a">Partners</a>
    <a href="" class="header__a">HR for everyone</a>
    <a href="" class="header__a">Our team</a>
    <a href="" class="header__a">Feadback</a>
  </nav>
  <a href="tel:844-332-6440" class="header__number">844-332-6440</a>
  <button tupe="button" class="header__button"><p class="header__text_button">Get Started</p></button>
</header>
