<header class="header">
  <img src="images\logo.png" alt="logo" class="img_header"> 
  <nav class="nav">
    <a href="" class="a_header">Home</a>
    <a href="" class="a_header">Partners</a>
    <a href="" class="a_header">HR for everyone</a>
    <a href="" class="a_header">Our team</a>
    <a href="" class="a_header">Feadback</a>
  </nav>
  <a href="tel:844-332-6440" class="number_header">844-332-6440</a>
  <button tupe="button" class="button_header"><p class="text_button_header">Get Started</p></button>
</header>
