<section class="human_section">
    <div class="human1_div_main">
        <div class="human1_div1">
            <img src="./images/human1.png" alt="human1" width="492" />
        </div>
        <div class="human1_div2">
            <h class="human1_h21">Put the human back in HR.</h>
            <p class="human1_p1">Your employees are the real stars. Show the love and help them perform!</p>
        </div>
    </div>
    <div class="human2_div_main">
        <div class="human2_div1">
            <h class="human2_h22">You don’t have to play all the parts.</h>
            <p class="human2_p2">Sales, accounting, HR— Oh My! You can’t do it all - let Clerksy help.</p>
        </div>
        <div class="human2_div2">
            <img src="./images/human2.png" alt="human2" width="492" />
        </div>
    </div>
</section>


 