<section>
    <h>Consider everyone's best interest</h>
    <p>HR is for everyone. Clerksy can help you.</p>
    <ul>
        <li>
            <img src="images\shild.png" alt="">
            <h>Protect Your Company</h>
            <ul>
                <l1>
                    <img src="images\dot.png" alt=""> <p>Compliance Audits & Training</p>
                    <img src="images\dot.png" alt=""> <p>Employee Data Storage</p>
                    <img src="images\dot.png" alt=""> <p>Policy Drafting</p>
                </l1>
            </ul>
        </li>
        <li>
            <img src="images\star.png" alt="">
            <h>Set Your Employees Up For Success</h>
            <ul>
                <l1>
                    <img src="images\dot.png" alt=""> <p>Learning & Development</p>
                    <img src="images\dot.png" alt=""> <p>Employee Relations</p>
                    <img src="images\dot.png" alt=""> <p>Employee Performance</p>
                </l1>
            </ul>
        </li>
        <li>
            <img src="images\loop.png" alt="">
            <h>Know Your Industry's Legal Landscape</h>
            <ul>
                <l1>
                    <img src="images\dot.png" alt=""> <p>Work Place Investigations</p>
                    <img src="images\dot.png" alt=""> <p>Employee Mediations</p>
                    <img src="images\dot.png" alt=""> <p>Performance Tracking</p>
                </l1>
            </ul>
        </li>
      
    </ul>
</section>