<section class="interest">
    <div class="container"> 
        <h class="interest__h2">Consider everyone's best interest</h>
        <p class="interest__z">HR is for everyone. Clerksy can help you.</p>
        <ul class="interest__ul">
            <li class="interest__li">
               
                    <img src="images\shild.png" alt="" class="interest__img_two">
                    <h class="interest__h3">Protect Your Company </h>
                    <ul >
                        <l1 class="interest__p-wrap">
                            <p class="interest__p">Compliance Audits & Training</p>
                            <p class="interest__p">Employee Data Storage</p>
                            <p class="interest__p">Policy Drafting</p>
                        </l1>
                    </ul>
               
               
            </li>
            <li class="interest__li">
                 <img src="images\star.png" alt="" class="interest__img_three">
                <h class="interest__h3">Set Your Employees Up For Success</h>
                <ul >
                    <l1 class="interest__p-wrap">
                        <p class="interest__p">Learning & Development</p>
                        <p class="interest__p">Employee Relations</p>
                        <p class="interest__p">Employee Performance</p>
                    </l1>
                </ul>
           
               
            </li>
            <li class="interest__li">
             
                      <img src="images\loop.png" alt="" class="interest__img_four">
                <h class="interest__h3">Know Your Industry's Legal Landscape</h>
                <ul >
                    <l1 class="interest__p-wrap">
                        <p class="interest__p">Work Place Investigations</p>
                        <p class="interest__p">Employee Mediations</p>
                        <p class="interest__p">Performance Tracking</p>
                    </l1>
                </ul>
            </li>
      
        </ul>
               
              
    </div>
</section>

