<section id="partner">
  <div class="container">
    <div class="partner_d">
      <h2 class="partner_h2">We partner with the best</h2>
      <div class="partner_ul">
        <div class="partner_li">
          <img
            src="images\stripe.png"
            alt=""
            max-width="110"
            max-height="40px"
          />
        </div>
        <div class="partner_li">
          <img
            src="images\google.png"
            alt=""
            max-width="110"
            max-height="40px"
          />
        </div>
        <div class="partner_li">
          <img
            src="images\notion.png"
            alt=""
            max-width="110"
            max-height="40px"
          />
        </div>
        <div class="partner_li">
          <img
            src="images\gusto.png"
            alt=""
            max-width="110"
            max-height="40px"
          />
        </div>
        <div class="partner_li">
          <img
            src="images\aircall.png"
            alt=""
            max-width="110"
            max-height="40px"
          />
        </div>
        <div class="partner_li">
          <img src="images\ubi.png" alt="" max-width="110" max-height="60px" />
        </div>
        <div class="partner_li">
          <img src="images\mac.png" alt="" max-width="110" max-height="40px" />
        </div>
        <div class="partner_li">
          <img
            src="images\apple.png"
            alt=""
            max-width="110"
            max-height="40px"
          />
        </div>
        <div class="partner_li">
          <img
            src="images\wagen.png"
            alt=""
            max-width="110"
            max-height="40px"
          />
        </div>
      </div>
    </div>
  </div>
</section>
