<section id="partner">
    <div class="partner_d">
        <h2 class="partner_h2">We partner with the best</h2>
        <ul class="partner_ul">
            <li class="partner_li"><img src="images\stripe.png" alt=""></li>
            <li class="partner_li"><img src="images\google.png" alt=""></li>
            <li class="partner_li"><img src="images\notion.png" alt=""></li>
            <li class="partner_li"><img src="images\gusto.png" alt=""></li>
            <li class="partner_li"><img src="images\aircall.png" alt=""></li>
        </ul>
    </div>
</section>