<section class="quality__section">
    <h2 class="quality__h2">HR Production of the Highest Quality</h2>
    <ul class="quality__ul">
        <li>
            <img src="images\quality1.png" alt="img1" class="quality__img_one">
            <p class="quality__p">Educates & Informs</p>
            <p class="quality__p">Employee Expectations</p>
        </li>
        <li>
            <img src="images\quality2.png" alt="img2" class="quality__img_two">
            <p class="quality__p">Protects Your Business</p>
            <p class="quality__p">Just in Case</p>
        </li>
        <li>
            <img src="images\quality3.png" alt="img3" class="quality__img_three">
            <p class="quality__p">Manages & Stores</p>
            <p class="quality__p">Important Documents</p>
        </li>
        <li>
            <img src="images\quality4.png" alt="img4" class="quality__img_four">
            <p class="quality__p">Create a Healthy</p>
            <p class="quality__p">Work Environment</p>
        </li>
    </ul>
</section>