<section>
    <h2>HR Production of the Highest Quality</h2>
    <ul>
        <li>
            <img src="images\quality1.png" alt="">
            <p>Educates & Informs</p>
            <p>Employee Expectations</p>
        </li>
        <li>
            <img src="images\quality2.png" alt="">
            <p>Protects Your Business</p>
            <p>Just in Case</p>
        </li>
        <li>
            <img src="images\quality3.png" alt="">
            <p>Manages & Stores</p>
            <p>Important Documents</p>
        </li>
        <li>
            <img src="images\quality4.png" alt="">
            <p>Create a Healthy</p>
            <p>Work Environment</p>
        </li>
    </ul>
</section>