<section class="registr">
<div class="container registr__div">
<div>
    <h2 class="registr__h2">Stay up to date!</h2>
    <p class="registr__p_div1">Sign up for the latest CLerksy news.</p>
</div>
<div>
    <input type="text" name="" id="" class="registr__input">
    <button type="button" class="registr__button"><p class="registr__p_button">Sign Up</p></button>
    <p class="registr__p_div2">By submitting your email you agree to receive updates about Clerksy. You can <br> unsubscribe at any time. View
        our full <a href="" class="registr__a">Privacy Policy</a>.</p>
</div>
</div>
</section>