<section class="steps">
  <div class="container">
    <h2 class="steps__h2">It's easy as 1,2,3</h2>
    <p class="steps__z">
      Clersky can help use your unique business needs. Here's how:
    </p>
    <ul class="steps__ul">
      <li class="steps__li">
        <p class="steps__p">
          Fill out a form and tell us what <br />
          you're looking for:
        </p>
        <p class="steps__h3">5 minutes</p>
      </li>
      <li class="steps__li">
        <img src="images\arrow1.png" alt="img2" class="steps__img_two" />
      </li>
      <li class="steps__li">
        <p class="steps__p">
          Time it will take a Clersky rep<br />
          to follow up:
        </p>
        <p class="steps__h3">24 hours</p>
      </li>
      <li class="steps__li">
        <img src="images\arrow2.png" alt="img4" class="steps__img_four" />
      </li>
      <li class="steps__li">
        <p class="steps__p">
          Take advantage of our<br />
          monthly plans starting at:
        </p>
        <p class="steps__h3">$969 USD</p>
      </li>
    </ul>
    <button data-modal-step-open type="button" class="steps__button">
      Book free discovery cacll
    </button>
  </div>
</section>
