<section class="team">
  <h1>Our team</h1>
  <ul class="team__list">
    <li class="team__item">
      <img src="./images/girl.png" alt="girl_photo" width="300" />
      <p class="team__name">Varvara</p>
      <svg class="team__social" width="42" height="42">
        <use href="./images/sprite.svg#telegram"></use>
      </svg>
      <svg class="team__social" width="42" height="42">
        <use href="./images/sprite.svg#whatsapp"></use>
      </svg>
    </li>
    <li class="team__item">
      <img src="./images/boy1.png" alt="girl_photo" width="300" />
      <p class="team__name">Anton</p>
      <svg class="team__social" width="42" height="42">
        <use href="./images/sprite.svg#telegram"></use>
      </svg>
      <svg class="team__social" width="42" height="42">
        <use href="./images/sprite.svg#whatsapp"></use>
      </svg>
    </li>
    <li class="team__item">
      <img src="./images/boy2.png" alt="girl_photo" width="300" />
      <p class="team__name">Nazar</p>
      <svg class="team__social" width="42" height="42">
        <use href="./images/sprite.svg#telegram"></use>
      </svg>
      <svg class="team__social" width="42" height="42">
        <use href="./images/sprite.svg#whatsapp"></use>
      </svg>
    </li>
  </ul>
</section>
