@import url('https://fonts.cdnfonts.com/css/recoleta');
.allshapes_section {
    background-color: var(--beige-bg-color);
    padding: 120 0 120 0;
}
.allshapes_div {
    display: block;
    text-align: center; 
    width: 760px;
    margin: 0 auto;
}

.allshapes_h2 {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color:  #163A24;
}

.allshapes_p {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color:  #163A24;
    margin-top: 26px;
}
