@import url('https://fonts.cdnfonts.com/css/recoleta');
.header {
    background-color: #163A24;
    display: flex;
    height: 98px;

&__img{
height: 58px;
margin-left: 130px;
margin-top: 20px;
}

&__nav{
    text-align: center;
    margin-top: 25px;
    margin-left: 100px;
}

&__a{
    font-family: 'Recoleta';
    color: white;
    font-size: 24px;
    line-height: 54px;
    font-weight: 600;
    text-decoration: none;
    margin: 10px;
}

&__number{
    color:#FBFAF7; 
    font-size: 16px;
    text-align: right;
    margin-top: 41px;
    margin-left: 20px;
    text-decoration: none;
}

&__button{
    background-color: #198C36;
    border-radius: 160px;
    height: 52px;
    width: 141px;
    margin-top: 21px;
    margin-left: 24px;
    border: 0;
}

&__text_button{
    color: #FBFAF7;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}
}