@import url('https://fonts.cdnfonts.com/css/recoleta');
.human1_div_main {
    display: flex;
    justify-content: center;
    margin-top: 132px;
}

.human1_div1{
   
    width: 570px;
    height: 229px;
    
}

.human1_h21{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    
   
   
}

.human1_p1{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    margin-top: 27px;
    
}

.human2_div_main {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 113px;
    
}

.human2_div1{
    
    width: 570px;
    height: 229px;
    margin-top: 105px;
}

.human2_h22{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #163A24;
    
    
    

}

.human2_p2{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #163A24;
    margin-top: 27px;
   
}
.human1_div2{
 
    width: 570px;
    height: 229px;
    margin-top: 105px;
    margin-bottom: 0px;
}
