@import url('https://fonts.cdnfonts.com/css/recoleta');
.quality{
&__section{
    background: #163A24;
}

&__h2{
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    color: #FBFAF7;
    margin-left: 320px;
    margin-top: 66px;
}

&__ul{
    display: flex;
    list-style-type: none;
    margin-left: 219px;
}

&__img_one{
    width: 100.24px;
    height: 128.72px;
    margin-right: 197.02px;
    margin-top: 73.99px;
}

&__img_two{
    width: 72.56px;
    height: 145px;
    margin-right: 229.44px;
    margin-top: 68.63px;
}

&__img_three{
    width: 66px;
    height: 145px;
    margin-right: 214px;
    margin-top: 66.99;
}

&__img_four{
    width: 91.21px;
    height: 141.48px;
    margin-top: 67px;
}

&__p{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FBFAF7;
}
}