@import url('https://fonts.cdnfonts.com/css/recoleta');

.quality {
    background-color: var(--primary-bg-color);
    height: 568px;

    &__h2 {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #FBFAF7;
        margin-top: 66px;
        text-align: center;
    }

    &__ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }

    &__li {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__img_one {
        width: 117px;
        height: 145;
        margin-top: 74px;
        margin-bottom: 21px;
    }

    &__img_two {
        width: 79px;
        height: 160px;
        margin-top: 67px;
        margin-bottom: 13px;
    }

    &__img_three {
        width: 66px;
        height: 145px;
        margin-top: 67px;
        margin-bottom: 28px;
    }

    &__img_four {
        width: 91.83px;
        height: 145px;
        margin-top: 67px;
        margin-bottom: 28px;
    }

    &__p {
        font-weight: 400;
        font-size: 18px;
        line-height: calc(27/18);
        color: #FBFAF7;
    }

}