@import url('https://fonts.cdnfonts.com/css/recoleta');

.steps {
    background-color: var(--beige-bg-color);
    height: 602px;

    &__h2 {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        margin-top: 81px;
        text-align: center;
    }

    &__ul {
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }

    &__li {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__img_two {
        width: 75px;
        height: 36px;
        margin-top: 67px;
        margin-bottom: 13px;
    }


    &__img_four {
        width: 75px;
        height: 36px;
        margin-top: 67px;
        margin-bottom: 28px;
    }

    &__p {
        font-weight: 400;
        font-size: 18px;
        line-height: calc(27/18);
        color: #163A24;
        text-align: center;
        margin-top: 40px;
    }
    &__z {
        font-weight: 400;
        font-size: 18px;
        line-height: calc(27/18);
        color: #163A24;
        text-align: center;
        margin-top: 26px;
    }

    &__h3 {
        font-family: 'Recoleta';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 54px;
        color: #163A24;
        margin-top: 13px;
        text-align: center;
    }
    &_button{
        font-family: 'Noto Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #FBFAF7;
        background-color: #198C36;
        border-radius: 160px;
        padding: 15px 25px;
        margin: 46px 0 157px 0; 
        right: 41%;
        position: absolute;
        width: 244px;
        border: 0px;
        cursor: pointer;
    }
}